<!-- small-card.component.html -->
<div class="small-card" [attr.id]="'card-' + order.id" (click)="onCardClick()" style="cursor: pointer;">
  <div class="small-card-icon">
    <img src="/assets/gear.png" alt="Ícone de Configurações" />
  </div>
  <div class="small-card-title">
    <p>{{ order.servicos && order.servicos.length > 0 ? order.servicos[0]?.descricao || 'Nenhum serviço disponível' : 'Nenhum serviço disponível' }}</p>

  </div>
  <div class="small-card-stats">
    <div class="stat-item">
      <p class="stat-title">Cliente:</p>
      <p class="stat-value">{{ order.client }}</p>
    </div>
    <div class="stat-item">
      <p class="stat-title">Carro:</p>
      <p class="stat-value">{{ order.carro }}</p>
    </div>
    <div class="stat-item">
      <p class="stat-title">Status:</p>
      <p class="stat-value">{{ order.status }}</p>
    </div>
  </div>
  <div class="small-email">
    <p>{{ order.email }}</p>
  </div>
  </div>
