@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* src/styles.css */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-overlay-pane {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 1000 !important;
}

.cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.4) !important;
  pointer-events: all !important;
}




.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1 !important;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-hiding {
  opacity: 0 !important;
}

/* Estilos para o container do diálogo (aplicados globalmente) */
